
#include "Cubemap.h"

// bitmap
IDBITMAP_POSX BITMAP DISCARDABLE "xpos.bmp"
IDBITMAP_NEGX BITMAP DISCARDABLE "xneg.bmp"
IDBITMAP_POSY BITMAP DISCARDABLE "ypos.bmp"
IDBITMAP_NEGY BITMAP DISCARDABLE "yneg.bmp"
IDBITMAP_POSZ BITMAP DISCARDABLE "zpos.bmp"
IDBITMAP_NEGZ BITMAP DISCARDABLE "zneg.bmp"